@model IEnumerable<
            UniqueMvc.Models.ApplicationUser>

<div class="table-area">
    <table class="table-area-content">
        <thead>
            <tr>
                <th>
                    Students
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Access == "Student")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                            <a asp-action="Grade" asp-route-id="@item.Id">Grades</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
